body{
  font-size: 14px;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  margin:0px;
  padding: 0px;
  font-weight: normal;
}
.cfff{color: #fff;}
.color{color:#002f34 !important}
.fixed{position: fixed;}
.rel{position: relative;}
.abs{position: absolute;}
.stikcy{position: sticky;}
.flex{display: flex;}
.flex-col{flex-direction: column;}
.bl{display: block;}
.ibl{display: inline-block}
.aic{align-items: center;}
input,button,select,textarea{outline: none;}

.font{
  font-family: 'Open Sans','sans-serif';
  font-weight: normal;
}
.fontl{
  font-family: 'Open Sans','sans-serif';
  font-weight: 300;
}
.fontb{
  font-family: 'Open Sans','sans-serif';
  font-weight: 700;
}
.b {font-weight: bold;}
.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s22{font-size: 22px;}
.s24{font-size: 24px;}
.s30{font-size: 30px;}

.noul{text-decoration: none;}
.noulh:hover{text-decoration: underline;}


.anim{transition: all 0.2s linear 0s;}
.placeholder{
  background-color: #ccc;
  animation: placeholder 1s linear infinite;
}
@keyframes placeholder{
50%{opacity: 0.5;}
}


/* Main Css */

.header{
  top:0px;
  right:0px;
  left: 0px;
  height:70px;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 2px #dadada ;
  padding: 0px 18%;
  z-index: 9;
}
.newHeader{
  padding: 0px 10% !important;
}
.header .logo{ width:50px}
.header .logo img{ width:100%; margin-right: 30px;}
.header .location { 
  background-color: #fff;
  border: 2px #002f34 solid;
  border-radius: 5px;
  margin-left: 20px;
}
.header .location .ico{
  padding: 10px;
}
.header .location .label{
  flex:1;
  padding: 10px;
  border: none;
}
.header .location .arrow{
  flex:1;
  padding: 10px;
  border: 0px;
  background:#ffff;
}

.header .search{
  background: #fff;
  border: 2px #002f34 solid;
  border-radius: 5px;
  flex:2;
  margin:0px 20px;

}
.header .search .query{
  flex:1;
  padding: 10px;
  border:0px
}
.header .search .go{
  flex:1;
  padding: 10px;
  border: 0px;
  background: #002f34;
  max-width: 50px;
  color: #fff;
}

.header .action{
  flex :1;
  min-width: 150px;
  align-items: flex-end;
  justify-content: flex-end;
}
.header .action .sell{
  padding: 8px 20px;
  border:3px solid #ffa500;
  margin-left: 20px;
  color:#002f34;
  text-align: center;
  background:#fff;
  border-radius: 30px;
  box-shadow: 0px 3px 5px #a9a9a9;
}
.header .action a{
  margin:0px 13px 7px 0;
}
.header .action .sell .ico{
  margin-right: 6px;
}
.profile{
 font-size: 30px;
}
.profile-avtr{
  border-radius: 50%;
    width: 50px;
}
.icon-hover{
  transition: all 1s ease-in;
  border-radius: 50%;
  width: 40px;
  text-align: center;
}
.icon-hover:hover{
  background-color: #00a49f;

}
.icon-hover i{
  padding: auto;
}
.hclr{height: 120px;}
.hnav{
  top:70px;
  right:0px;
  left: 0px;
  height:50px;
  z-index: 8;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(218 218 218 /36%) ;
  padding: 0px 18%;
}
.hnav .view-cates{
  border:0px;
  padding: 10px 15px;
  background: rgba(0,0,0,0);
}
.hnav .view-cates .arrow{
  padding:3px 10px;
  border:0px;
  background:  rgba(0,0,0,0);;
  margin-left: 10px;
}
.hnav .view-cates:hover{
  background-color: #f1f1f1;
}
.hnav a{
  padding: 15px;
  margin-right: 2px;
}
.hero{
  height: 252px;
  margin: 0 0 40px;
  display: flex;
  align-items: center;
}
.hero_img{
  overflow: hidden;
  height: 252px;
  background-image: url('//statics.olx.com.pk/external/base/img/hero_bg_pk.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
}
.home-page{
  padding: 30px 18%;
}

.ad-list{
  flex-wrap: wrap;
}


.ad{
  width: 270px;
  height: 290px;
  flex-basis: 20%;
  margin:8px;
  border:1px solid #ddd;
  padding: 8px;
}
.ad a{
  text-decoration: none;
}
.ad .pos{
  height: 160px;
  width: 268px;
}
.ad .pos img{
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ad .tit{
  margin:10px 0px
}
.ad .tit.placeholder{
  height: 25px;
  width:75%;
}
.ad .tag{
  height: 20px;
  width:90%;

}
.ad .tag.placeholder{
  height: 20px;
  width:90%;

}
.ad .fot{
  margin-top:14px;
  display:inline-flex;
  margin-bottom: 10px;
}
.ad .fot .loc{
  height:12px;
  max-width: 100px;
}
.ad .fot .loc.placeholder{
  height:12px;
  max-width: 3%;
}
.ad .fot .stm{
  margin-left: 40%;
  flex:1;
}
.ad .fot .stm.placeholder{
  height: 0px;
}

.load-more{
  margin: 40px auto;
  display: table;
  border:0px;
  background: #fff;
  padding: 12px 25px;
  border-radius:10px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 0px 5px #012f34;
  color: #012f34;
}
.load-more:hover{
  box-shadow: inset -1px -1px 0px 25px #012f34;
  color: #fff;
}

.app-ribon{ padding: 0px 18%; background: #f9f9f9; }
.app-ribon .links .title{
  margin-bottom: 20px;
}
.app-ribon .links a{
  margin:0px 10px 0px 0px
}

.footer{padding: 0px 18%; background: #f1f1f1; border-top: 1px #ccc solid;}
.footer .block{
  flex: 1;
  padding: 20px 0px 50px 0px;
}
.footer .block .title{
  margin-bottom: 10px;
}
.footer .block a{
  line-height: 1.6;
}
.footerb{
  padding: 15px 18%;
  background: #012f34;
}
.footerb h2{
  flex:1
}
.footerb h2.r{
  text-align: right;
}

.temp-Form{
  padding: 0px 18%;
  height:70vh;
  margin-top: 40px;
}

.detail-page{
  padding: 30px 18%;
  flex-wrap: wrap;
}
.detail-box{
  width:65%;
   flex-wrap: wrap;
}
.other-detail{
  flex-wrap: wrap;
  margin-left: 5%;
   width:30%
}
.detail-img{
    background-color: black;
    height: 500px;
    width: 100%;
     padding: 3%;
}
.detail-img img{
   height: 100%;
   max-width:100% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.detail-img-list{
  border: 1px solid black;
    width: 100%;
    height:100px;
    padding: 20px 0px; 
    overflow-y: hidden;
    overflow-x: scroll;
     padding: 3%;

} 
.detail-img-list img{
  height:100%;
 margin-left: 20px;
} 

.detail-description{
  border: 1px solid black;
    width: 100%;
    padding: 3%;
}
.detail-price{
  border: 1px solid black;
  margin-bottom: 1%;

}
.detail-seller{
  border: 1px solid black;
  margin-bottom: 1%;
  padding: 20px;
}
.detail-seller h3{
  margin-bottom: 3%;
}
.detail-seller button{
  width: 100%;
  height:30px;
  background-color:#002f34;
  color: white;
}
.detail-seller img{
  width:20%
}
.showNumber{
  text-align: center;
  margin-top: 2%;
}
.detail-map{
  padding:20px;
  border: 1px solid black;
  margin-bottom: 1%;
}
.detail-map h5{
  margin-bottom: 10px;
}

.detail h4{
  margin-right: 10%;
  margin-top: 5%;
}
.detail-price{
  padding: 20px;
}
.detail-price h5{
  margin-top:4%
}
.detail-price span{
  margin-left:20%
}
.AddFilter{
   padding: 30px 18%;
}
.filterOptions{
  width: 20%;
  padding: 20px;
}
.form{
  padding: 30px 18%;
  color: #002f34;
}
.form .setecltedCategory,.includeSomeDetail,.setAPrice,.uploadPhotos,.confirmLocation,.review,.postNow{
  width:100%; 
  border: #002f34 solid 1px;
 padding:20px;
}
.choose_file{
  border: none !important;
  width: 50px !important;
  margin: 20px;
  
}
.choose_file button{
  font-size: 50px;
  padding: 20px;
  margin: auto;
  background: none;
  border: #002f34 solid 1px;
}
.center{
  text-align: center;
}
.radio-Button{
    appearance: none;
    background-color: #fff;
    border-style: none;
    box-shadow: inset 0 0 0 1px #002f34;
    border-radius: 4px;
    color: #002f34;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    min-width: 64px;
    outline: 0;
    padding: 8px 16px;
    margin-bottom: 8px;
    margin-right: 8px;

}
.radio-Button:hover{
    background-color: #c8f8f6;
    box-shadow: inset 0 0 0 1px #00a49f;
    color: #00a49f;
}
.active{
  background-color: #c8f8f6;
    box-shadow: inset 0 0 0 2px #00a49f;
    color: #00a49f;
    font-weight: 700;
}
label {
  display: block;
  margin-top: 20px;
}

.titleInputBox{
  appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
}
.titleInputDiv{
  border: 1px solid #002f34;
  margin-bottom: 10px;
  margin-top: 1px;
}
.InputTextBox{
  font-size: 12px;
}
textArea{
    appearance: none;
    background: none;
    border: none !important;
    color: #002f34;
    display: block;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
}
.uploadPhotos{
  width: 100%;
}
.uploadImageButton{
  flex-wrap: wrap;
  width: 50%;
}
.rupee{
  font-size: 20px;
  margin-top: 10px;
  border-right: 1px solid #002f34;
}
.selectBox{
  appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}
.underLine{
  border-bottom: 2px solid #002f34;
  margin-right: 20px;
  margin-bottom: 20px;
}
.avatar img{
  height: 100px;
}
.postNow button{
  background-color: #d8dfe0;
    color: #7f9799;
    border-color: #d8dfe0;
    border-radius: 4px;
    padding: 0 7px;
    width: 100%;
    height: 40px;
}
.button-Login{
    color: #002f34;
    border-radius: 4px;
    border: 2px solid #002f34;
    padding: 0 10px;
    margin: 4px 0;
    width: 100%;
    font-size: 16px;
    height: 48px;
    background: none;
    text-align: center;
}
.priceFilter input{
    background: gray;
    border: none;
    height: 30px;
    max-width: 80px;
    margin:2px;
    color:white
}

.formComponent{
  padding: 30px 18%;
  color: #002f34;
  width:80%
}

.cat-name{
  /* padding: 10px; */
  font-size: 20px;
  text-align: left;
  border: #002f34 1px solid;
  padding-left: 20px;
  padding-right: 20px;
  margin: 3px;
}
.cat-name span{
 float: right;
}
.subCat-name{
  font-size: 20px;
  text-align: left;
  border: #002f34 1px solid;
  padding-left: 20px;
  padding-right: 20px;
  margin: 3px;
  text-decoration: none;
  width:400px
}
.dropDown{
  left: 18%;
  top:14%;
  width: 60%;
  padding: 30px 3%;
  max-height:100vh;
  background-color: white;
  flex-wrap: wrap;
  z-index: 1;
  box-shadow:#002f34 2px 0px 4px 2px;
}
.Chat-Page{
  padding: 30px 18%;
  width: 
}
.inbox-heading{
  background-color: lightgray;
  padding: 10px;
  box-shadow: lightgray 2px 0px 2px 2px;
}
.users-div{
  width: 300px;
  /* border: #002f34 1px solid; */
  height: 400px;
  overflow-y: scroll;
}
.user{
  height: 50px;
  align-items: center;
  border:#002f34 1px solid;
  padding: 10px 20px;
  margin:1px 0px;
}
.user img{
  height: 50px;
  border-radius: 50%;
}
.chatbox-div{
 width: 600px;
height: 400px;
}
.username-display{
  background-color: lightgray;
  box-shadow: lightgray 2px 0px 2px 2px;
  align-items: center;
  width: 100%;
}
.chatbox{
  margin-top: 2px;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.username-display img{
  height: 50px;
  border-radius: 50%;
}
.username-display i{
  float: left;
}
.sendMassage{
  height: 8%;
  width: 100%;
}

.otherUser {
    position: relative;
    width: 30%;
    /* height: 100px; */
    line-height: 46px;
    color:black;
    text-align: center;
    padding: 0px;
    background:#00a49f;
    border-radius: 10px;
    left:2%
}

.otherUser:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 15px 15px 0;
   border-color: #00a49f transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: -15px;
   left: 10px;
}
.currentUser {
    position: relative;
    width: 30%;
    /* height: 100px; */
    line-height: 46px;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    background:#002f34;
    border-radius: 10px;
    right: -65%;
}


.currentUser:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 15px 15px 0;
   border-color:#002f34 transparent;
   display: block;
   width: 0;
   z-index: 1;
   bottom: -15px;
   right: 10px;
}

/* Responsive */

@media only screen and (max-width: 992px) {

.detail-page{
  padding: 30px 18%;
  flex-wrap: wrap;
}
.detail-box{
  width:100%;
   flex-wrap: wrap;
}
.other-detail{
  flex-wrap: wrap;
  margin-left: 0;
  margin-top: 2%;
  width:100%
}
.detail-price, .detail-seller, .detail-map,.detail-img,.detail-img-list,.detail-description{
  width: 100%;
  padding: 20px;
}

}
